@{
    ViewBag.Title = "Home Page";
}

<div class="card" style="min-width: 650px">
    <div>
        <h1>Admin Panel</h1>
        <div id='times' style="padding-left: 20px;padding-right: 20px">
            <ul class="ul_times">
                <li><a href="/Game/Create/" class=" btn btn-primary btn-large" style="background-color: darkorange; border-color: darkorange">Добавить игру</a></li>
                <li><a href="/Order/Index/" class=" btn btn-primary btn-large" style="background-color: darkorange; border-color: darkorange">Заказы</a></li>
                <li><a href="/Genre/Index/" class=" btn btn-primary btn-large">Жанры</a></li>
                <li><a href="/OS/Index/" class=" btn btn-primary btn-large">ОС</a></li>
                <li><a href="/CPU/Index/" class=" btn btn-primary btn-large">CPU</a></li>
                <li><a href="/Ram/Index/" class=" btn btn-primary btn-large">RAM</a></li>
                <li><a href="/Videocard/Index/" class=" btn btn-primary btn-large">Videocard</a></li>
                <li><a href="/Directx/Index/" class=" btn btn-primary btn-large">Directx</a></li>
            </ul>
            <span></span>
        </div>
    </div>
</div>