@{
    ViewBag.Title = "Home Page";
}

<div class="card" style="min-width: 450px">
    <div>
        <h1>Admin Panel</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <div id='times' style="padding-left: 20px;padding-right: 20px">
            <ul class="ul_times">
                <li><a href="/Genre/Index/" class=" btn btn-primary btn-large">Жанры</a></li>
                <li><a href="/OS/Index/" class=" btn btn-primary btn-large">ОС</a></li>
                <li><a href="/CPU/Index/" class=" btn btn-primary btn-large">CPU</a></li>
                <li><a href="/Ram/Index/" class=" btn btn-primary btn-large">RAM</a></li>
                <li><a href="/Videocard/Index/" class=" btn btn-primary btn-large">Videocard</a></li>
                <li><a href="/Directx/Index/" class=" btn btn-primary btn-large">Directx</a></li>
            </ul>
            <span></span>
        </div>
    </div>
</div>